#header-main-page{
    background-color: #293A80;
    display:flex;
    justify-content: space-between;
    height: 40px;
}

#main-page{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("subwayCar.jpg");
    height: 100%;
    width: 100%;
}

#logo-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-container {
  display:flex;
  align-items: center;
  margin-left: 4px;
}

#logo-container img{
    position: relative;
    height: 24px;
}

#logo-container span{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 8px;
    color: white;
}

#main-page-content{
    margin: 0;
    padding: 0;
}

#main-page-content li {
    margin: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    color: white;
    text-shadow: 1px 1px #293A80;
    text-align: center;
}

#main-page-content li:last-child{
    margin-top: 50px;
}

#main-page-content h2{
    margin-top: 70px;
    font-family: 'Quicksand', sans-serif;
    font-size: 42px;
    color: white;
    text-shadow: 1px 1px #293A80;
    font-weight: bold;
    text-align: center;
 
}

#session-buttons{
    display:flex;
    justify-content: space-between;
    margin-right: 26px;
    align-items: center;
}

#signupButton {
    background-color: #F39422;
    width: 72px;
    height: 24px;
    border-radius: 5px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin-right: 10px;
}

#loginButton {
    background-color: rgba(150, 150, 150, .4);
    padding: 0px;
    margin: 0px 0;
    width: 72px;
    height: 24px;
    border-radius: 5px;
    border: 2px white rgba(22, 22, 22, .6);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 100;
}

#joinButton{
    background-color: #F39422;
    width: 222px;
    height: 64px;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin-right: 10px;
    font-size: 24px;
}

